.DS_Store

build/cmake/*

build/cmake/CMakeCache.txt

build/cmake/CMakeFiles/*

build/cmake/CMakeScripts/*

build/cmake/Debug/*

build/mpi-release-trimmed/*

build/Camellia-debug.build/*

build/lib

drivers/*/exec

############## ignore these files
*.o
*.dat
*~
*.swp
*.swo
*/.sconsign.bdlite
drivers/*/.sconsign.dblite
build/.sconsign.dblite
.sconsign.dblite
*.bak
bin/

############## ignore all compressed files
*.gz
*.tar
*.rar

############## ignore LaTeX build files

*.aux
*.log
*.bbl
*.blg
*.toc
*.idx
*.lof
*.lot
*.out
*.nav
*.snm

############## ignore vtu and matlab files in drivers

drivers/*/*.m
drivers/*/*.dat
drivers/*/*.vtu
drivers/*/*.png
