[Desktop Entry]
Version=1.0
Exec=phatch %U
Icon=phatch
Terminal=false
Type=Application
Categories=Graphics;Photography;GTK;
StartupNotify=true
MimeType=application/x-phatch;image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/x-bmp;image/x-pcx;image/x-png;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sun-raster;image/x-tga;image/x-xbitmap;image/x-xpixmap;application/pcx;
Name=Phatch PHoto bATCH Processor
Name[ar]=Phatch معالج مجموعة الصور
Name[ca]=Phatch Processador de fotografías
Name[de]=Phatch Foto-Stapelverarbeiter
Name[el]=Phatch Δεσμικός Επεξεργαστής & Μετονομαστής Εικόνων
Name[es]=Phatch Procesador de fotografías por lotes
Name[fi]=Phatch Kuvien eräprosessoija
Name[fr]=Phatch Traiteur de photos par lot
Name[gl]=Phatch Procesador de grupo de fotos
Name[he]=Phatch מעבד תמונות באצווה
Name[hu]=Phatch Kötegelt fotófeldolgozó és átnevező
Name[it]=Phatch Processore Batch delle foto
Name[nl]=Phatch Foto Batch Processor
Name[pl]=Phatch Wsadowy Procesor Obrazu i Zmiany nazwy
Name[pt]=Phatch Processador de Fotografias por Lotes
Name[ru]=Phatch Пакетный обработчик фотографий
Name[sl]=Phatch Serijsko Procesiranje Slik
Name[sr]=Phatch Пакетска Обрада Слика
Name[tr]=Phatch Toplu Fotoğraf İşlemcisi
Name[uk]=Phatch Пакетна обробка фотографій
Name[zh_CN]=Phatch 照片批量处理 & 命名
Name[zh_TW]=Phatch 照片批次處理器
GenericName=PHoto bATCH Processor
GenericName[ar]=معالج مجموعة الصور
GenericName[ca]=Processador de fotografías
GenericName[de]=Foto-Stapelverarbeiter
GenericName[el]=Δεσμικός Επεξεργαστής & Μετονομαστής Εικόνων
GenericName[es]=Procesador de fotografías por lotes
GenericName[fi]=Kuvien eräprosessoija
GenericName[fr]=Traiteur de photos par lot
GenericName[gl]=Procesador de grupo de fotos
GenericName[he]=מעבד תמונות באצווה
GenericName[hu]=Kötegelt fotófeldolgozó és átnevező
GenericName[it]=Processore Batch delle foto
GenericName[nl]=Foto Batch Processor
GenericName[pl]=Wsadowy Procesor Obrazu i Zmiany nazwy
GenericName[pt]=Processador de Fotografias por Lotes
GenericName[ru]=Пакетный обработчик фотографий
GenericName[sl]=Serijsko Procesiranje Slik
GenericName[sr]=Пакетска Обрада Слика
GenericName[tr]=Toplu Fotoğraf İşlemcisi
GenericName[uk]=Пакетна обробка фотографій
GenericName[zh_CN]=照片批量处理 & 命名
GenericName[zh_TW]=照片批次處理器
Comment=Easily batch process images and edit metadata
Comment[nl]=Gemakkelijk massaal foto's en metadata bewerken

